
<div class="col-lg-4 col-md-4 col-sd-4"> </div>
<div class="col-lg-4 col-md-4 col-sd-4">


<h3 class="text-center">Editing Question</h3>

<%= render 'form' %>

<div class="col-md-offset-4"> <%= link_to 'Show', @question %> |
<%= link_to 'Back', questions_path %> </div>

</div>
<div class="col-lg-4 col-md-4 col-sd-4"> </div>
