
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4"> </div>
  <div class="col-lg-4 col-md-4 col-sm-4">

<h1 class="form-signin-heading">New Question</h1>

<%= render 'form' %>

<div class="pull-right"> <%= link_to 'Back', questions_path %> </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4"> </div>

</div>
