<div class="panel-body bg-warning">
    <div class="col-lg-3 col-md-3 col-xs-3">
        <%= link_to 'Sign In',  new_user_session_path, class: "btn btn-success btn-block" %>
    </div>
    <div class="col-lg-8 col-md-8 col-xs-8">
        Already have an account? <%= link_to 'Sign Up',  new_user_registration_path %>
    </div>

</div>
