<div class="panel panel-primary">
    <div class="panel-heading">
        Updating info
    </div>
    <div class="panel-body">
        <p>Keep your updated information, add your social
          networks and share knowledge with everyone in AskTalo</p>
    </div>

</div>
